body#home {
    color: #C8C8C8;
    background: #eaeaea url(../images/bg.jpg) repeat-x;
    background-position: center 96px;
    font-family: Arial;
}

body#other {
    color: #C8C8C8;
    background: #eaeaea;
    font-family: Arial;
}

a {
    text-decoration: none;
}

.header_container {
    width: 100%;
    background: #00283b ;
    color: #C8C8C8;
    height: 96px;
    border-bottom:2px groove #01bdf5;
    margin-bottom:24px;
}

    .header_container h1 {
        float: left;
        font-size: 40px;
        padding: 20px 0 0 0;
    }

    .header_container .menu {
        font-size: 16px;
        float: right;
        display: block;
    }

    .header_container .menu a {
        font-size: 16px;    
        color: #9e9e9e;
        display: block;
        float: left;
        height: 96px;
        line-height: 92px;
        padding: 0 18px;
    }

        .header_container .menu a:hover, .header_container .menu a.active {
            font-size: 16px;
            background: #2d657f;
            color: #fff;
            border-bottom: 4px solid #01bdf5;
            height: 92px;
            line-height: 92px;
        }

.container_12 .left_column {
    width: 400px;
    height: 460px;
    padding-top: 48px;
    }

    .container_12 .left_column h2 {
        color:#fff;
        font-size: 28px;
        margin: 0 0 18px 0;
    }

    .container_12 .left_column p {
        text-align: justify;
        line-height: 28px;
        font-size: 20px;
    }

    .container_12 .left_column h3 {
        font-size: 14px;
        line-height: 28px;
        margin: 0 0 5px 0;
    }

   .container_12 .left_column a {
        color: #fff;
    }
    
.container_12 .right_column {
        width: 560px;
        height: 460px;
        float: right;
        text-align:right;
    }

.container_12 .features_item {
            color: #000;
            width: 280px;
            float: left;
            padding-bottom: 20px;
        }

        .container_12 .features_item h3 {
            font-size: 20px;
            margin: 0 0 5px 0;
        }

        .container_12 .features_item p {
            font-size: 14px;        
            line-height: 20px;
            text-align: justify;
        }

        .container_12 .features_item li {
            font-size: 14px;        
            line-height: 20px;
            text-align: justify;
        }

.footer {
    width: 100%;
    height: 60px;
    background: #00283b;
    color: #C8C8C8;
    padding-top: 16px;
    font-size: 14px;
}
    
    .footer .container_12 a {
        color: #FFF;
    }





